extends ../layouts/application

block header
  .container.row
    .col-auto
      h1= 'Статусы задач'
    .col-auto
      if isAuthenticated()
        a.btn.btn-primary.ml-auto(href=route('newStatus'))= t('views.statuses.index.create')
block content
  table.table.table-hover.border.border-grey
    thead.thead-light
      tr
        th(scope='col')= t('views.statuses.index.id')
        th(scope='col')= t('views.statuses.index.name')
        th
        th
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td
            a.btn.btn-sm.btn-outline-info(href=`/statuses/${status.id}/edit`)= t('views.statuses.index.edit')
          td 
            form(action=`/statuses/${status.id}` method='post')
              input(type='hidden' name='_method' value='delete')
              input.btn.btn-sm.btn-outline-danger(type='submit' value= t('views.statuses.index.delete'))