doctype html
html(lang="en").h-100
  head
    title Hexlet Fastify Boilerplate
    scritp(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
  body.h-100.d-flex.flex-column
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
      a.navbar-brand(href='root')= t('appName')
      button.navbar-toggler(data-toggle="collapse" data-target="#navbarSupportedContent")
        span.navbar-toggler-icon
      .collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href='users')= t('layouts.application.users')
        ul.navbar-nav
            li.nav-item
              a.nav-link(href='newSession')= t('layouts.application.signIn')
            li.nav-item
              a.nav-link(href='newUser')= t('layouts.application.signUp')
    h1= t('welcome.index.hello')
    h1= t('welcome.index.description')
    .container.h-100
    
    footer.footer.mt-100
      .container.my-5.pt-4.border-top
        a(target="_blank" href="https://ru.hexlet.io") Hexlet



