extends ../layouts/application

block header
  .container.row
    .col-auto
      h1= 'Метки задач'
    .col-auto
      a.btn.btn-primary.ml-auto(href=route('newLabel'))= t('views.labels.index.create')
block content
  table.table.table-hover.border.border-grey
    thead.thead-light
      tr
        th(scope='col')= t('views.labels.index.id')
        th(scope='col')= t('views.labels.index.name')
        th
        th
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td
            a.btn.btn-sm.btn-outline-info(href=route('editLabel', {id: label.id}))= t('views.labels.index.edit')
          td  
            form(action=route('deleteLabel', {id: label.id}) method='post')
              input(type='hidden' name='_method' value='delete')
              input.btn.btn-sm.btn-outline-danger(type='submit' value= t('views.labels.index.delete'))