extends ../layouts/application

block header
  .container.row
    .col-auto
      h1= 'Задачи'
    .col-auto
      if isAuthenticated()
        a.btn.btn-primary.ml-auto(href=route('newTask'))= t('views.tasks.index.create')
block content
  form.form-inline.mb-2.bg-light.border.border-grey(action=route('tasks'), method='get')
    .form-group.p-1
      label.ml-2(for='data_status')= 'Статус'
      select.form-control.ml-1(name='status_id', id='data_status')
        option
        each status in statuses
          option(value=status.id selected=(query.status_id === status.id.toString()))= `${status.name}`
    .form-group.p-1
      label.ml-2(for='data_label')= 'Метки'    
      select.form-control.ml-1(name='label_id', id='data_label')
        option
        each label in labels
          option(value=label.id selected=(query.label_id === label.id.toString()))= `${label.name}`
    .form-group.p-1
      label.ml-2(for='data_executor')= 'Исполнитель'
      select.form-control.ml-1(name='executor_id', id='data_executor')
        option
        each user in users
          option(value=user.id selected=(query.executor_id === user.id.toString()))= `${user.fullName()}`
    .form-group.p-1
      label.form-check-label.ml-2(for="data_isCreatorUser")= 'Только мои задачи'
      input.form-check-input.ml-1(type="checkbox" name='isCreatorUser' id="data_isCreatorUser" checked=query.isCreatorUser)
    .form-group.p-1
      input.btn.btn-primary(type='submit', value='Показать')
  
  table.table.table-hover.border.border-grey
    thead.thead-light
      tr
        th(scope='col')= t('views.tasks.index.id')
        th(scope='col')= t('views.tasks.index.name')
        th(scope='col')= t('views.tasks.index.description')
        th(scope='col')= t('views.tasks.index.status_id')
        th(scope='col')= t('views.tasks.index.labels')
        th(scope='col')= t('views.tasks.index.creator_id')
        th(scope='col')= t('views.tasks.index.executor_id')
        th(scope='col')= t('views.tasks.index.createdAt')
        th(scope='col')= t('views.tasks.index.updatedAt')
        th(scope='col')= ''
        th(scope='col')= ''
    tbody
      each task in tasks
        tr
          td= task.id
          td= task.name
          td= task.description
          td= task.status.name
          td= task.labels.map((label) => label.name).join(', ')
          td= task.creator === null ? '' : task.creator.fullName()
          td= task.executor === null ? '' : task.executor.fullName()  
          td= formatDate(task.createdAt)
          td= formatDate(task.updatedAt)
          td
            a.btn.btn-sm.btn-outline-info(href=route('editStatus', { id: task.id }))= t('views.tasks.index.edit')
          td  
            form(action=route('deleteStatus', { id: task.id }) method='post')
              input(type='hidden' name='_method' value='delete')
              input.btn.btn-sm.btn-outline-danger(type='submit' value= t('views.tasks.index.delete'))